body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FCFCFC !important;
}
@media  (max-width: 1200px) {
  html {
    font-size: 12.4px !important;
  }
 
}
.nav-tabs .nav-link button{
  background-color: none !important ;
  
}
.nav-fill .nav-item .active {
  border-bottom: 1px solid black !important;
  background-color: none !important ;
  
}
.nav-tabs{
border: none !important;
}
.nav-fill .nav-item button {
  color: #343A40 !important;
}
@media screen and (max-width: 515px) {
 
  .flex{
    justify-content: center !important;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.flex{
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.flex1{
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap !important;
}
.flex-colo{
  display: flex !important;
  justify-content: space-between;
  align-items: center !important;
  flex-wrap: wrap !important;
  flex-direction: column !important;
}
.col *{
  color: white !important;
}